*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header */
header{
    min-height: 300px;
    background-color: blueviolet;
    display: flex;
    flex-direction: column;
    align-items: center;
    }

/* navigazione */
nav{
    display: flex;    
    width: 80%;
    justify-content: space-between;
    margin-top: 20px;   
}

.logo{
    width: 20%;
    height: 50px;

    /* debug */
    background-color: orange;
    border: 1px solid black;
}

.link{
    width: 57%;
    height: 50px;

    /* debug */
    background-color: orange;
    border: 1px solid black;
}

.button{
    width: 20%;
    height: 50px;

    /* debug */
    background-color: orange;
    border: 1px solid black;
}

/* jumbotron */
.jumbotron{
    height: 200px;
    width: 80%;
    margin-top: 50px;
    margin-bottom: 50px;

    /* debug */
    background-color: orange;
    border: 1px solid black;
    }

/* corpo centrale */
 main{
    min-height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
 }

 main section{
    width: 100%;
    padding: 100px;
    min-height: 100px;
    flex-direction: row;
    display: flex;
    
    /* debug */
    border: 1px solid black;
 }

.block-max{
    width: 60%;
    /* debug */
    height: 300px;
 }

 .block-min{
    width: 40%;
    /* debug */
    height: 300px;
 }

 .last-section{
    height: 500px;
    border: 1px solid black;
    background-color: orange;
 }


/* footer */
footer{
    min-height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    
    /* debug */
    margin-bottom: 100px;
    background-color: blueviolet;
    border: 1px solid black;
}

/* prima sezione footer */
.footer-section{
    width: 80%;
    /* height: 100px; */
    /* border: 1px solid black; */
    display: flex;
}

#first-div{
    width: 40%;
    height: 250px;
}

.second-div{
    width: 20%;
    height: 250px;
}


/* seconda sezione footer */
.footer-section2{
    display: flex;
    width: 80%;
    justify-content: space-between;
    margin-top: 30px;
    border-top: 2px solid black;
    padding-top: 10px
}

.footer-section2 div{
    /* regole debug */
    width: 30%;
}

 /* regole debug */
 section div{
    width: 100px;
    height: 100px;
    background-color: orange;
    border: 1px solid black;
}